html { 
    background: url(/imgs/hp.png) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}

#foto_func{
    width:100%;
    height: 100%;
    max-width:100px;
    max-height: 60px;

}

.mycarousel{
    position: absolute;
    top: 95%;
    left: 35%;
    height: 15%;
    width: 35%;
    background: #3119C8;
}

.navbar.navbar-expand-lg.navbar-light ul li a {
    color: white; 
}

.navbar-light{
    background: #5B0ADF;
    mix-blend-mode: multiply;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}


.navbar-nav .dropdown-menu{
    background: #5B0ADF;
}


#login_but{
    position: absolute;
    width: 300px;
    height: 180px;
    left: 25%;
    top: 60%;
    background: #FFFFFF;
    border: 5px solid #3119C8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-size: 50px;
    color: #3119c8;
    
}

#login_but2{
    position: absolute;
    width: 200px;
    height: 85px;
    left: 556px;
    top: 880px;
    background: #FFFFFF;
    border: 5px solid #3119C8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-size: 50px;
    color: #3119c8;
    line-height: 54px;
    
}

#login_but:hover{
    position: absolute;
    width: 300px;
    height: 180px;
    left: 25%;
    top: 60%;
    background: #3119c8;
    border: 5px solid #3119C8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-size: 50px;
    color: #FFFFFF;
    line-height: 54px;    
}

#login_but2:hover{
    position: absolute;
    width: 200px;
    height: 85px;
    left: 556px;
    top: 880px;
    background: #3119c8;
    border: 5px solid #3119C8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-size: 50px;
    color: #FFFFFF;
    
}

#reg_but{
    position: absolute;
    width: 380px;
    height: 180px;
    left: 60%;
    top: 60%;
    background: #FFFFFF;
    border: 5px solid #3119C8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-size: 50px;
    color: #3119c8;
}



#reg_but:hover{
    position: absolute;
    width: 380px;
    height: 180px;
    left: 60%;
    top: 60%;
    background: #3119C8;
    border: 5px solid #3119C8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-size: 50px;
    color: #FFFFFF;
}

#imglogo{
    position: relative;
    max-width: 100%;
}

.img1{
    position: absolute;
    width: 625px;
    height: 405px;
    left: 605px;
    top: 10%;
}

.img2{
    position: absolute;
    width: 625px;
    height: 405px;
    left: 605px;
    top: 5px;
}

.rectangle {
    position: absolute;
    width: 1355px;
    height: 1093px;
    left: 314px;
    top: 509px;
    background: rgba(255, 255, 255, 0.57);
  }
  

#login{
    position: absolute;
    width: 269px;
    height: 179px;
    left: 527px;
    top: 225px;
    font-family: NTR;
    font-style: normal;
    font-weight: normal;
    line-height: 81px;
    font-size: 96px;
}

#nome{
    position: absolute;
    width: 240px;
    height: 121px;
    left: 250px;
    top: 420px;
    font-family: NTR;
    font-style: normal;
    font-weight: normal;
    line-height: 54px;
    font-size: 64px;
}

#senha{
    position: absolute;
    width: 240px;
    height: 121px;
    left: 250px;
    top: 650px;
    font-family: NTR;
    font-style: normal;
    font-weight: normal;
    line-height: 54px;
    font-size: 64px;
}

#dados1{
    position: absolute;
    width: 500px;
    height: 40px;
    left: 500px;
    top: 420px;
    background: #FEF7F7;
    box-shadow: inset 0px 4px 4px rgba(5, 11, 11, 0.42);
    border-color: #3119c8;
}

#dados2{
    position: absolute;
    width: 500px;
    height: 40px;
    left: 500px;
    top: 650px;
    background: #FEF7F7;
    box-shadow: inset 0px 4px 4px rgba(5, 11, 11, 0.42);
    border-color: #3119c8;
}

#cadastro_lab{
    position: absolute;
    width: 500px;
    height: 179px;
    left: 427px;
    top: 55px;
    font-family: NTR;
    font-style: normal;
    font-weight: normal;
    line-height: 81px;
    font-size: 96px;
}

#nome_cad{
    position: absolute;
    width: 240px;
    height: 121px;
    left: 250px;
    top: 280px;
    font-family: NTR;
    font-style: normal;
    font-weight: normal;
    line-height: 54px;
    font-size: 64px;
}

#senha_cad{
    position: absolute;
    width: 240px;
    height: 121px;
    left: 250px;
    top: 400px;
    font-family: NTR;
    font-style: normal;
    font-weight: normal;
    line-height: 54px;
    font-size: 64px;    
}

#end_cad{
    position: absolute;
    width: 240px;
    height: 121px;
    left: 250px;
    top: 520px;
    font-family: NTR;
    font-style: normal;
    font-weight: normal;
    line-height: 54px;
    font-size: 64px;    
}

#rub_cad{
    position: absolute;
    width: 240px;
    height: 121px;
    left: 250px;
    top: 640px;
    font-family: NTR;
    font-style: normal;
    font-weight: normal;
    line-height: 54px;
    font-size: 64px;    
}

#pos_cad{
    position: absolute;
    width: 240px;
    height: 121px;
    left: 250px;
    top: 780px;
    font-family: NTR;
    font-style: normal;
    font-weight: normal;
    line-height: 54px;
    font-size: 64px;    
}

#sex_cad{
    position: absolute;
    width: 240px;
    height: 121px;
    left:780px;
    top: 900px;
    font-family: NTR;
    font-style: normal;
    font-weight: normal;
    line-height: 54px;
    font-size: 64px;    
}

#foto_cad{
    position: absolute;
    width: 240px;
    height: 121px;
    left: 250px;
    top: 900px;
    font-family: NTR;
    font-style: normal;
    font-weight: normal;
    line-height: 54px;
    font-size: 64px;    
}

#cad_but{
    position: absolute;
    width: 250px;
    height: 120px;
    left: 526px;
    top: 1020px;
    background: #FFFFFF;
    border: 5px solid #3119C8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-size: 50px;
    color: #3119c8;
}

#cad_but:hover{
    position: absolute;
    width: 250px;
    height: 120px;
    left: 526px;
    top: 1020px;
    background: #3119C8;
    border: 5px solid #3119C8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-size: 50px;
    color: #FFFFFF;
}

#foto{    
    font-size: 24px;
    width: 75%;
}

#rad_masc{
    position: relative;
    left: 950px;
    top: 880px;
}

#rad_fem{
    position: relative;
    left: 950px;
    top: 920px;
}

#lab_masc{
    position: relative;
    left: 975px;
    top: 850px;
}

#lab_fem{
    position: relative;
    left: 975px;
    top: 890px;
}

#dados_cad_0{
    position: absolute;
    width: 500px;
    height: 40px;
    left: 550px;
    top: 760px;
    background: #FEF7F7;
    box-shadow: inset 0px 4px 4px rgba(5, 11, 11, 0.42);
    border-color: #3119c8;
}

#dados_cad_1{
    position: absolute;
    width: 500px;
    height: 40px;
    left: 550px;
    top: 280px;
    background: #FEF7F7;
    box-shadow: inset 0px 4px 4px rgba(5, 11, 11, 0.42);
    border-color: #3119c8;
}

#dados_cad_2{
    position: absolute;
    width: 500px;
    height: 40px;
    left: 550px;
    top: 400px;
    background: #FEF7F7;
    box-shadow: inset 0px 4px 4px rgba(5, 11, 11, 0.42);
    border-color: #3119c8;
}

#dados_cad_3{
    position: absolute;
    width: 500px;
    height: 40px;
    left: 550px;
    top: 520px;
    background: #FEF7F7;
    box-shadow: inset 0px 4px 4px rgba(5, 11, 11, 0.42);
    border-color: #3119c8; 
}

#dados_cad_4{
    position: absolute;
    width: 500px;
    height: 40px;
    left: 550px;
    top: 640px;
    background: #FEF7F7;
    box-shadow: inset 0px 4px 4px rgba(5, 11, 11, 0.42);
    border-color: #3119c8;
}

#inserir_img{
    position: absolute;
    width: 65px;
    height: 65px;
    left: 400px;
    top: 760px;    
}

#home_but_1{
    position: absolute;
    width: 300px;
    height: 150px;
    left: 300px;
    top: 600px;
    background: black;
    border: 5px solid rgb(22, 94, 22);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-size: 40px;
    color: green;
}

#home_but_2{
    position: absolute;
    width: 300px;
    height: 150px;
    left: 1226px;
    top: 600px;
    background: black;
    border: 5px solid #3119C8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-size: 40px;
    color: #3119c8; 
}

#home_but_3{
    position: absolute;
    width: 300px;
    height: 150px;
    left: 300px;
    top: 1100px;
    background: black;
    border: 5px solid rgb(189, 189, 47);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-size: 40px;
    color: rgb(189, 189, 47);
}

#home_but_4{
    position: absolute;
    width: 300px;
    height: 150px;
    left: 1226px;
    top: 1100px;
    background: black;
    border: 5px solid red;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-size: 40px;
    color: red;
}

#home_but_1:hover{
    position: absolute;
    width: 300px;
    height: 150px;
    left: 300px;
    top: 600px;
    background: rgb(22, 94, 22);
    border: 5px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-size: 40px;
    color: #FFFFFF;
}

#home_but_2:hover{
    position: absolute;
    width: 300px;
    height: 150px;
    left: 1226px;
    top: 600px;
    background: #3119c8;
    border: 5px solid #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-size: 40px;
    color: #FFFFFF;
}

#home_but_3:hover{
    position: absolute;
    width: 300px;
    height: 150px;
    left: 300px;
    top: 1100px;
    background: rgb(189, 189, 47);
    border: 5px solid white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-size: 40px;
    color: white;
}

#home_but_4:hover{
    position: absolute;
    width: 300px;
    height: 150px;
    left: 1226px;
    top: 1100px;
    background: red;
    border: 5px solid #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-size: 40px;
    color: #ffffff;
}
#cadastrodepart{
    position: absolute;
    width: 500px;
    height: 179px;
    left: 427px;
    top: 55px;
    font-family: NTR;
    font-style: normal;
    font-weight: normal;
    line-height: 81px;
    font-size: 96px;
}
#namee{
    position: absolute;
    width: 240px;
    height:91px;
    left: 150px;
    top: 400px;
    font-family: NTR;
    font-style: normal;
    font-weight: normal;
    line-height: 54px;
    font-size: 64px;
}
#coordenador{
    position: absolute;
    width: 240px;
    height: 91px;
    left: 150px;
    top: 530px;
    font-family: NTR;
    font-style: normal;
    font-weight: normal;
    line-height: 54px;
    font-size: 64px;
}
#sala{
    position: absolute;
    width: 240px;
    height: 91px;
    left: 150px;
    top: 650px;
    font-family: NTR;
    font-style: normal;
    font-weight: normal;
    line-height: 54px;
    font-size: 64px;
}
#dadoDepar_1{
    position: absolute;
    width: 500px;
    height: 40px;
    left: 550px;
    top: 400px;
    background: #FEF7F7;
    box-shadow: inset 0px 4px 4px rgba(5, 11, 11, 0.42);
    border-color: #3119c8;
}
#dadoDepar_2{
    position: absolute;
    width: 500px;
    height: 40px;
    left: 550px;
    top: 530px;
    background: #FEF7F7;
    box-shadow: inset 0px 4px 4px rgba(5, 11, 11, 0.42);
    border-color: #3119c8;
}
#dadoDepar_3{
    position: absolute;
    width: 500px;
    height: 40px;
    left: 550px;
    top: 650px;
    background: #FEF7F7;
    box-shadow: inset 0px 4px 4px rgba(5, 11, 11, 0.42);
    border-color: #3119c8;
}
#Cadastrosl{
    position: absolute;
    width: 800px;
    height: 179px;
    left: 327px;
    top: 55px;
    font-family: NTR;
    font-style: normal;
    font-weight: normal;
    line-height: 81px;
    font-size: 96px;
}
#numsala{
    position: absolute;
    width: 800px;
    height:91px;
    left: 35%;
    top: 400px;
    font-family: NTR;
    font-style: normal;
    font-weight: normal;
    line-height: 54px;
    font-size: 44px;
}
#nummaxfun{
    position: absolute;
    width: 800px;
    height: 91px;
    left: 25%;
    top: 630px;
    font-family: NTR;
    font-style: normal;
    font-weight: normal;
    line-height: 54px;
    font-size: 44px;
}
#dadonumsala1{
    position: absolute;
    width: 500px;
    height: 40px;
    left: 28%;
    top: 500px;
    background: #FEF7F7;
    box-shadow: inset 0px 4px 4px rgba(5, 11, 11, 0.42);
    border-color: #3119c8;
}
#dadonumsala2{
    position: absolute;
    width: 500px;
    height: 40px;
    left: 28%;
    top: 700px;
    background: #FEF7F7;
    box-shadow: inset 0px 4px 4px rgba(5, 11, 11, 0.42);
    border-color: #3119c8;
}
#Exibirfun{
    position: absolute;
    width: 500px;
    height: 179px;
    left: 427px;
    top: 55px;
    font-family: NTR;
    font-style: normal;
    font-weight: normal;
    line-height: 81px;
    font-size: 96px;
}
#numdepartamento1{
    position: absolute;
    width: 600px;
    height:179px;
    left: 450px;
    top: 400px;
    font-family: NTR;
    font-style: normal;
    font-weight: normal;
    line-height: 54px;
    font-size: 54px;
}
#box_numdepartamento1{
    position: absolute;
    width: 500px;
    height: 40px;
    left: 450px;
    top: 500px;
    background: #FEF7F7;
    box-shadow: inset 0px 4px 4px rgba(5, 11, 11, 0.42);
    border-color: #3119c8;
}
#alocarfun{
    position: absolute;
    width: 800px;
    height: 179px;
    left: 327px;
    top: 55px;
    font-family: NTR;
    font-style: normal;
    font-weight: normal;
    line-height: 81px;
    font-size: 96px;
}
#numdepartamento{
    position: absolute;
    width: 600px;
    height:179px;
    left: 450px;
    top: 400px;
    font-family: NTR;
    font-style: normal;
    font-weight: normal;
    line-height: 54px;
    font-size: 54px;
}
#dadoAlocar1{
    position: absolute;
    width: 500px;
    height: 40px;
    left: 450px;
    top: 500px;
    background: #FEF7F7;
    box-shadow: inset 0px 4px 4px rgba(5, 11, 11, 0.42);
    border-color: #3119c8;
}
#dadoAlocar2{
    position: absolute;
    width: 500px;
    height: 40px;
    left: 450px;
    top: 650px;
    background: #FEF7F7;
    box-shadow: inset 0px 4px 4px rgba(5, 11, 11, 0.42);
    border-color: #3119c8;
}
#Rub{
    position: absolute;
    width: 600px;
    height:179px;
    left: 450px;
    top: 560px;
    font-family: NTR;
    font-style: normal;
    font-weight: normal;
    line-height: 54px;
    font-size: 54px;
}
#exibir_but{
    position: absolute;
    width: 250px;
    height: 120px;
    left: 526px;
    top: 900px;
    background: #FFFFFF;
    border: 5px solid #3119C8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-size: 50px;
    color: #3119c8;
}


.car-style{
    -webkit-text-stroke: 1px purple;
    color: black;
    font-size: 30px;
}

.car{
    width: 100%;
}
